<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1"  verbose="1" >

    <test name="Build1" >
        <groups>
            <run>
                <include name="smoke"></include>
                <exclude name="regression"></exclude>
            </run>
        </groups>
        <classes>
            <class name="TestCases.LoginTest" >
                <methods>
                    <exclude name="openSiteOnly"></exclude>
                </methods>
            </class>
            <class name="TestCases.SignUpTest"></class>

        </classes>
    </test>

</suite>
